<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
	<meta charset="UTF-8">
	<title>last7</title>
  <%= stylesheet_link_tag "visualize" %>
  <%= stylesheet_link_tag "visualize-dark" %>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "visualize.jQuery" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
	<%= yield %>
</body>
</html>

